{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4],
        "no-underscore-dangle": 0,
        "keyword-spacing": 0,
        "no-param-reassign": 0,
        "max-len": ["error", 140],
        "no-restricted-syntax": 0,
        "guard-for-in": 0,
    },
    "globals": {
        "L": true,
        "window": true,
        "document": true,
    }
}
