{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "keyword-spacing": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "guard-for-in": 0
  },
  "plugins": ["cypress"],
  "env": {
    "cypress/globals": true
  },
  "globals": {
    "L": true,
    "window": true,
    "document": true
  }
}
