npm-debug.log
.DS_Store
/node_modules/
/bower_components/
/.idea/
/dist/
\.source*
/cypress/downloads
/cypress/screenshots
/cypress/videos
.eslintcache
.env
*.tgz

# Generated classic-script demo entry points
/demo/**/*.js
/demo/**/*.js.map

/test-page.js
/test-page.js.map
