.leaflet-pm-toolbar {

}

.leaflet-pm-toolbar .leaflet-buttons-control-button {
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.leaflet-pm-toolbar .leaflet-pm-actions-container a:first-child:not(.pos-right) {
  border-radius: 0 !important;
}

.leaflet-pm-toolbar .leaflet-pm-actions-container a:last-child.pos-right {
  border-radius: 0 !important;
}

.leaflet-pm-toolbar .button-container .leaflet-buttons-control-button {
  border-radius: 0 !important;
}

.leaflet-pm-toolbar .button-container:last-child .leaflet-buttons-control-button {
  border-radius: 0 0 2px 2px !important;
}

.leaflet-pm-toolbar .button-container:first-child .leaflet-buttons-control-button {
  border-radius: 2px 2px 0 0 !important;
}

.leaflet-pm-toolbar .control-fa-icon {
  font-size: 19px;
  line-height: 24px;
}

.leaflet-pm-toolbar .control-icon {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.leaflet-pm-toolbar .leaflet-pm-icon-marker {
  background-image: url('../assets/icons/Marker.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-polygon {
  background-image: url('../assets/icons/Polygon.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-polyline {
  background-image: url('../assets/icons/Line.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-circle {
  background-image: url('../assets/icons/Circle.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-circle-marker {
  background-image: url('../assets/icons/CircleMarker.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-rectangle {
  background-image: url('../assets/icons/Rectangle.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-delete {
  background-image: url('../assets/icons/Eraser.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-edit {
  background-image: url('../assets/icons/Edit_Vertex.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-drag {
  background-image: url('../assets/icons/Move.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-cut {
  background-image: url('../assets/icons/Scissors.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-snapping {
  background-image: url('../assets/icons/Magnet.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-undo {
  background-image: url('../assets/icons/Undo.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-redo {
  background-image: url('../assets/icons/Redo.svg');
}

.leaflet-buttons-control-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.active .leaflet-buttons-control-button {
  box-shadow: inset 0 -1px 5px 2px rgba(81, 77, 77, 0.31);
}

.leaflet-buttons-control-text-hide {
  display: none;
}

.button-container {
  position: relative;
}

.button-container .leaflet-pm-actions-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  white-space: nowrap;
  direction: ltr;
}

.leaflet-right
  .leaflet-pm-toolbar
  .button-container
  .leaflet-pm-actions-container {
  right: 100%;
  left: auto;
}

.button-container.active .leaflet-pm-actions-container {
  display: block;
}

.button-container .leaflet-pm-actions-container:not(.pos-right) .leaflet-pm-action:last-child {
  border-radius: 0px 3px 3px 0px !important;
  border-right: 0px;
}
.button-container .leaflet-pm-actions-container.pos-right .leaflet-pm-action:first-child {
  border-radius: 3px 0px 0px 3px !important;
}
.button-container .leaflet-pm-actions-container.pos-right .leaflet-pm-action:last-child {
  border-right: 0px;
}
.button-container .leaflet-pm-actions-container .leaflet-pm-action {
  padding: 0px 10px;
  background-color: #666;
  color: #fff;
  display: inline-block;
  width: auto;
  border-right: 1px solid #eee;
  border-bottom: none;
  user-select: none;
}

.button-container .leaflet-pm-actions-container .leaflet-pm-action:hover {
  cursor: pointer;
  background-color: #777;
}

/* That the active control is always over the other controls */
.leaflet-pm-toolbar.activeChild{
  z-index: 801;
}

.leaflet-buttons-control-button.pm-disabled{
  background-color: #f4f4f4 !important;
}

.control-icon.pm-disabled{
  filter: opacity(0.6);
}

.action-icon {
  width: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-background-size: 19px;
  background-size: 19px;
  vertical-align: top;
}
