.leaflet-buttons-control-button {
    padding: 3px;
    box-sizing: border-box;
}

.leaflet-buttons-control-button img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    opacity: .8;
    padding: 2px;
}

.leaflet-buttons-control-button img.icon-polygon {
    padding: 1px;
    content: url('assets/icons/draw.png');
}
.leaflet-buttons-control-button img.icon-drag {
    padding: 1px;
    content: url('assets/icons/drag.png');
}
.leaflet-buttons-control-button img.icon-delete {
    content: url('assets/icons/remove.png');
}
.leaflet-buttons-control-button img.icon-edit {
    transform: translate(2px, 0); /* fix for looking a bit off center */
    content: url('assets/icons/edit.png');
}

.leaflet-buttons-control-button:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}
.leaflet-buttons-control-button.active {
    background-color: #f4f4f4;
}

.leaflet-buttons-control-button.active img {
    opacity: .5;
}

.leaflet-buttons-control-text-hide {
    display: none;
}
