.leaflet-geoman-vertex-icon {
  background-color: #ffffff;
  border: 1px solid #3388ff;
  border-radius: 50%;
  margin: -8px 0 0 -8px !important;
  width: 14px !important;
  height: 14px !important;
  outline: 0;
  transition: opacity ease 0.3s;
}

.leaflet-geoman-vertex-icon-middle {
  opacity: 0.7;
  margin: -6px 0 0 -6px !important;
  width: 10px !important;
  height: 10px !important;
}

.leaflet-geoman-draggable {
  cursor: move !important;
}

.leaflet-geoman-cursor-marker {
  cursor: crosshair;
  pointer-events: none;
  opacity: 0;
}

.leaflet-geoman-cursor-marker.leaflet-geoman-visible {
  opacity: 1 !important;
}

.leaflet-geoman-draw-cursor {
  cursor: crosshair;
}
.leaflet-geoman-draw-cursor .leaflet-interactive {
  cursor: crosshair;
}

.leaflet-geoman-rect-style-marker,
.leaflet-geoman-rect-start-marker {
  opacity: 0;
}

.leaflet-geoman-rect-style-marker.leaflet-geoman-visible,
.leaflet-geoman-rect-start-marker.leaflet-geoman-visible {
  opacity: 1 !important;
}

.leaflet-geoman-vertex-disabled {
  opacity: 0.7;
}

.leaflet-geoman-text-marker {
  width: 0;
  height: 0;
}

.leaflet-geoman-textarea {
  box-sizing: content-box;
  background-color: #fff;
  color: #000;
  resize: none;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  padding-left: 7px;
  padding-bottom: 0;
  padding-top: 4px;
}

.leaflet-geoman-draggable .leaflet-geoman-textarea {
  cursor: move;
}

.leaflet-geoman-textarea:focus,
.leaflet-geoman-textarea:focus-within,
.leaflet-geoman-textarea:focus-visible,
.leaflet-geoman-textarea:active {
  border: 2px solid #000;
  outline: 0;
}

.leaflet-geoman-textarea.leaflet-geoman-disabled {
  border: none;
  user-select: none;
}

.leaflet-geoman-textarea.leaflet-geoman-hasfocus {
  cursor: auto;
}
