.marker-icon, .marker-icon:focus {
    background-color: #ffffff;
    border: 1px solid #3388FF;
    border-radius: 50%;
    margin: -8px 0 0 -8px !important;
    width: 14px !important;
    height: 14px !important;
    outline: 0;
    transition: opacity ease .3s;
}

.marker-icon-middle, .marker-icon-middle:focus {
    opacity: .7;
    margin: -6px 0 0 -6px !important;
    width: 10px !important;
    height: 10px !important;
}

.leaflet-pm-draggable {
    cursor: move !important;
}

.cursor-marker {
    cursor: crosshair;
    pointer-events: none;
    /*display: none;*/
}
